fonttools==4.62.1
fontmake==3.11.1
fontc==0.6.0
paintcompiler==0.3.4
booleanOperations==0.10.0
git+https://github.com/mitradranirban/fontra.git@fontra-color-support
git+https://github.com/fontra/fontra-rcjk.git
